.background {
    background-color: orangered;
}

body > #root > div {
    height: 100vh;
}


.header-div{

    padding: 20px;
}

.header-div h1{
    font-size: 100px;
    text-align: center;
    color: white;
    /* font-family: Georgia, Times, "Times New Roman"; */
    /* border: solid; */
    /* border-color: black; */

}

.icon-divMain{
    color:#ffab08;
    font-size: 300px;
    padding: 10px;
    /* border: solid; */
    /* border-color: black; */
    text-align: center;
    padding: 10px;
    
}

.main-div{

    padding: 40px;
    /* border: solid; */
    /* border-color: black; */
}

.btn-homepage{
    background-color: orange;
    color: white;
}