.background {
    background-color: orangered;
}

body > #root > div {
    height: 100vh;
}

.name-div {
    font-size: 60px;
    color: #e9ecef;
}

.question-div {
    color: #e9ecef;
}

.progress-bar  {
    background-color: #ffab08;
    width: 25%;
    aria-valuenow: "25";
    aria-valuemin: "0";
    aria-valuemax: "100";
}

.btn-custom{
    background-color: #ffab08; 
    font-size: 60px;
}

.answer-btn {
    background-color: transparent;
    border: white solid 1px;
}

.img-custom {
    height: 200px;
    margin-bottom: 20px;
}


.icon-div{
    color:#ffab08;
    font-size: 125px;
    padding: 20px;
    /* border: solid; */
    /* border-color: black; */
    text-align: center;
    padding: 20px;
    
}

.score0{
    display: none;
}
.score1{
    display: none;
}
.score2{
    display: none;
}
.score3{
    display: none;
}
.score4{
    display: none;
}

